In [1]:
import pandas as pd
from bokeh.plotting import figure
from bokeh.io import show, output_notebook

** Data Exploration **

In [2]:
data = pd.read_csv('raw_data.csv')

In [12]:
data.head()

,order delivery time,order id,customer order rating,type of issue reported,region
0,2014-06-02 04:23:16 UTC,233599337,5,NaN,chi
1,2014-06-02 03:57:50 UTC,233599376,5,NaN,chi
2,2014-06-02 02:52:38 UTC,233599328,5,NaN,chi
3,2014-06-02 02:52:04 UTC,233599070,5,NaN,chi
4,2014-06-02 02:41:43 UTC,233599100,5,NaN,chi

In [11]:
# include 33 days of delivery data, 4 full weeks, 5 weekends
print('Minimum order delivery time: %s' %str(data['order delivery time'].min()))
print('Maximum order delivery time: %s' %str(data['order delivery time'].max()))

Minimum order delivery time: 2014-05-01 08:54:00 +0000
Maximum order delivery time: 2014-06-02 06:28:37 +0000

In [14]:
# Types of issue reported
print(data['type of issue reported'].dropna().unique())

['Wrong item' 'Item charged incorrectly' 'Damaged or spoiled'
 'Item missing' 'Other Order Issue' 'Poor service' 'Poor replacement']

In [15]:
from collections import Counter
Counter(data['type of issue reported'].fillna('Null'))

Counter({'Damaged or spoiled': 310,
         'Item charged incorrectly': 21,
         'Item missing': 178,
         'Null': 13870,
         'Other Order Issue': 21,
         'Poor replacement': 54,
         'Poor service': 129,
         'Wrong item': 374})

In [19]:
# check uniqueness of order id
'unique order id %d, total rows %d' %(len(data['order id'].unique()), len(data))

'unique order id 13845, total rows 14957'

In [ ]:
data.groupby([''])